
.modal-registration {
    z-index: 35;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
    width: 360px;
    background-color: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.button-registration {
    width: 150px;
}
