.margin-top{
    margin-top: 150px;
}
.rest-line{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 70px;
    width: 100%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}
.rest-main-img{
    position: relative;    
    margin-left: 50px;
    width: 280px;
    height: 200px;
    /* border: 1px solid black; */
}
.rest-main-img img{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: -30%;
    padding: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.rest-caption{
    margin-left: 20px;
    line-height: 70px;
}

.rest-container{
    margin-top: 8%;
    border: 1px solid black;
}
.rest-filter{
    margin-left: 50px;
    flex: 0 0 280px;
    max-width: 280px;
    padding: 5px;
}
.no-gutters-cust > [class*="rest-filter"] {
      padding-right: 0;
      padding-left: 0;
    
}
.rest-catalog-dish{
    padding: 5px 30px;
}
.rest-dish{
    height: 240px;
    margin-bottom: 20px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #e2e3e0;
    padding: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
}

@media (max-width: 543px) {
    .rest-main-img{
        height: 120px;
        width: 150px;
    }
}

/* //Небольших устройств (альбомной телефоны, 544px и вверх)   */
@media (min-width: 544px) and (max-width: 767px) { }

/* // Устройствах среднего (планшеты, 768px и выше)   */
@media (min-width: 768px) and (max-width: 991px) {  }


