* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
}

a {
	cursor: pointer;
	outline: none;
	text-decoration: none;
}

.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	min-height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.container-404 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	width: 90%;
	padding: 10px;
}

.border-404 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 150px;
	width: 500px;
	border: 5px solid;
	border-color: #ff501c;
}

.text-404 {
	font-size: 70px;
	color: #ff501c;
}

.text-404-info {
	color: #ff501c;
	font-weight: 600;
}

.button-main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 30px;
	background-color: #ff501c;
	height: 50px;
	width: 150px;
	color: #fff;
	cursor: pointer;
}

.img-coffee {
	width: 150px;
	position: fixed;
	left: 58%;
	top: 43%;
}

@media (max-width: 520px) {
	.border-404 {
		width: 100%;
	}
}