:root {
	--Font: 'Roboto', sans-serif;
	--RedColor: #ff501c;
	--GreyColor: #BDBDBD;
	--BlackColor: black;
}

* {
/*	font-family: var(--Font);*/
	font-family: 'Roboto', sans-serif;
}

.background {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	/*    background-image: url(/image/admin/background.jpg);*/
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.main-container-admin {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 90%;
	height: 90%;
	/*    max-width: 1200px;*/
	background-color: #fff;
	-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.admin-side-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	width: 350px;
	border-right: 1px solid #e2e3e0;
}


.admin-side-panel-logo-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	padding: 20px;
	/*    padding-bottom: 60px;*/
/*	font-family: var(--Font);*/
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}

.admin-side-panel-logo-container > img {
	width: 40%;
}

.admin-side-panel-logo-container > span {
	padding: 10px;
}

.admin-side-panel-item-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 50px;
/*	font-family: var(--Font);*/
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	padding: 20px;
	cursor: pointer;
	/*    margin: 0 auto;*/
}

.admin-panel-span-icon {
	padding-right: 10px;
	font-size: 16px;
	width: 30px;
}

.admin-panel-span-text {}

.admin-main-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.container-order-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.title-order-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px;
/*	color: var(--RedColor);*/
	color: #ff501c;
	font-size: 26px;
	font-weight: 500;
}

.main-container-button-sorting-order-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	padding: 30px;
}


.container-button-sorting-order-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.button-sorting-order-panel {
	height: 40px;
	width: 120px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #fff;
	color: black;
	cursor: pointer;
	border: 1px solid #e2e3e0;
}

.center-button-sorting-order-panel {
	border-right: none;
	border-left: none;
}

.container-item-order-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	/*    width: 90%;*/
	width: 100%;
	padding: 30px;
	margin: 30px;
	max-width: 1200px;
	-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
	overflow-x: hidden;
	overflow-y: auto;
	cursor: pointer;
}

.item-order-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	min-height: 50px;
	border-bottom: 1px solid #e2e3e0;
	margin: 10px;
}

.cell-item-order-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 0;
	-ms-flex: 0 16.6%;
	flex: 0 16.6%;
	padding: 10px;
}