:root {
    --Font: 'Roboto', sans-serif;
    --RedColor: #ff501c;
    --GreyColor: #BDBDBD;
    --BlackColor: black;
}

* {
    font-family: var(--Font);
}

::-webkit-scrollbar {
    display: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    /*    background-image: url(/image/admin/background.jpg);*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    background: #DE6262;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFB88C, #DE6262);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /**/
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.main-container-admin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 88%;
    /*    max-width: 1200px;*/
    background-color: #fff;
    /* box-shadow: 0 0 25px rgba(0, 0, 0, 0.15); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.admin-side-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 300px;
    border-right: 1px solid #e2e3e0;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.admin-side-panel-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    /*    padding-bottom: 60px;*/
    font-family: var(--Font);
    font-weight: 600;
}

.admin-side-panel-logo-container>img {
    width: 40%;
}

.admin-side-panel-logo-container>span {
    padding: 10px;
}

.admin-side-panel-item-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    font-family: var(--Font);
    font-weight: 500;
    padding: 20px;
    cursor: pointer;
    border-left: 5px solid;
    border-color: #fff;
    /*    margin: 0 auto;*/
}

.admin-panel-span-icon {
    padding-right: 10px;
    font-size: 16px;
    width: 30px;
}

.admin-panel-span-text {}

.admin-main-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container-active-order-panel {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container-done-order-panel {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.active-panel {
    display: flex;
}

.title-order-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    padding-top: 20px;
    color: var(--RedColor);
    font-size: 22px;
    font-weight: 500;
    width: 100%;
}

.main-container-button-sorting-order-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 30px;
}

.container-button-sorting-order-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.button-sorting-order-panel {
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: black;
    cursor: pointer;
    border: 1px solid #e2e3e0;
}

.center-button-sorting-order-panel {
    border-right: none;
    border-left: none;
}

.container-item-order-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*    width: 90%;*/
    width: 100%;
    padding: 30px;
    margin: 30px;
    max-width: 1200px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    overflow-x: hidden;
    overflow-y: auto;
    cursor: pointer;
}

.item-order-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #e2e3e0;
    margin: 10px;
}

.cell-item-order-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 16.6%;
    padding: 10px;
}

.container-items-order-panel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    /*    height: 100%;*/
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
}

.main-items-order-panel {
    /*    display: flex;*/
    width: 450px;
    /*    height: 258px;*/
    /* box-shadow: 0 0 25px rgba(0, 0, 0, 0.15); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin: 15px;
    position: relative;
    vertical-align: middle;
    align-self: center;
    height: auto;
}

.container-date-and-time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 5px;
}

.container-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 5px;
}

.items-order {
    display: flex;
    padding: 5px;
}

.date-and-time-items-order {
    color: #bdc3c7;
}

.spoiler-items-order-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
}

.title-spoiler {
    display: flex;
    width: 100%;
    /*    padding: 10px;*/
}

.icon-basket {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-spoiler {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.icon-spoiler {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-spoiler {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.close-spoiler {
    display: none;
}

.open-spoiler {
    display: flex;
    transition: all .4s;
}

.container-item-spoiler {
    display: flex;
    width: 100%;
    padding: 5px;
}

.name-dish {
    display: flex;
    width: 100%;
}

.count-dish {
    display: flex;
}

.redBoldText {
    color: var(--RedColor);
    font-weight: bold;
}

.container-count-and-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    text-align: right;
    font-size: 15px;
}

.name-restaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.active-admin-side-panel-item-button {
    border-color: var(--RedColor);
}

.btn-order {
    margin: 8px;
    padding: 5px;
    position: relative;
    vertical-align: top;
    font-size: 14px;
    color: white;
    letter-spacing: .3px;
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    border: 0;
    cursor: pointer;
}

.btn-order:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-order:focus {
    outline: none;
}

.btn-order_accept {
    background: #27ae60;
    border-bottom: 2px solid #219d55;
    -webkit-box-shadow: inset 0 -2px #219d55;
    box-shadow: inset 0 -2px #219d55;
}

.btn-order_delete {
    background: #e74c3c;
    border-bottom: 2px solid #db4334;
    -webkit-box-shadow: inset 0 -2px #db4334;
    box-shadow: inset 0 -2px #db4334;
}

.swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}

.swal-btn-delete {
    background: #e74c3c;
}

.swal-btn-accept {
    background: #2ecc71;
}

@media (max-width: 768px) {
    .main-container-admin {
        flex-direction: column-reverse;
    }
    .admin-side-panel {
        flex-direction: row;
        border: none;
        height: auto;
        width: 100%;
    }
    .admin-side-panel-logo-container {
        display: none;
    }
    .admin-side-panel-item-button {
        flex-direction: column;
        height: auto;
        border-bottom: 5px solid;
        border-color: #fff;
        border-left: none;
    }
    .admin-side-panel-item-button>.admin-panel-span-icon {
        font-size: 30px;
    }
}