
.hamburger-menu {
    z-index: 20;
    position: fixed;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}
.hamburger-menu>a {
    height: 50px;
    width: 100%;
}

.hamburger-menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    width: 100%;
    cursor: pointer;
}
.hamburger-menu-item>span {
    padding: 5px;
    font-size: 18px;
}

.close-hamburger-menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}
.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*
    visibility: visible;
    opacity: 0;
    opacity: 1;
    transition: opacity 0.5s;
*/
}
.close {
    display: none;
/*
    visibility: hidden;
    opacity: 1;
    opacity: 0;
    transition: opacity 0.5s;
*/
}

.hamburger-menu:hover{
/*    background-color: red;*/
/*    transition-duration: .2s;*/
}