.rest-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* margin-top: 140px; */
    margin-bottom: 80px;
    height: 70px;
    width: 100%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .rest-line {
        /* padding-top: 140px; */
        /* margin-top: 0; */
    }
}

.rest {
    padding-top: 140px;
    margin: 0;
}

.rest-main-img {
    position: relative;
    margin-left: 50px;
    width: 280px;
    height: 200px;
}

.rest-main-img img {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: -31%;
    padding: 5px;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.rest-caption {
    font-size: 1.5rem;
    margin-left: 30px;
    line-height: 70px;
}

.rest-filter {
    flex: 0 0 280px;
    max-width: 280px;
    margin: 0;
    margin-left: 50px;
    position: relative;
}

.rest-filter-container {
    position: sticky;
    top: 19%;
    width: 100%;
    padding: 10px 20px;
    padding-left: 20%;
    border: 1px solid #e2e3e0;
    transition: all .3s ease-out;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
}

.rest-filter .filter-item {
    height: 45px;
    line-height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.rest-filter .filter-item span {
    margin-left: 15px;
}

.no-gutters-cust>[class*="rest-filter"] {
    padding-right: 0;
    padding-left: 0;
}

.rest-filter svg {
    height: 65%;
}

.rest-filter .filter-item:hover svg {
    fill: #ff501c;
    transition: .2s ease;
}

.rest-catalog-dish {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.rest-card-dish {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 260px;
    position: relative;
    margin: 0 10px;
    margin-bottom: 20px;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #e2e3e0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.rest-card-dish .card-dish-img img {
    display: block;
    height: 140px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 0;
    /*    box-shadow: 0 0 25px rgba(0, 0, 0, 0.10);*/
    backface-visibility: hidden;
}

.modalDish {
    width: 745px;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
}

.modalDish .card-dish-img {
    display: flex;
    align-items: center
}

.modalDish .card-dish-img img {
    height: 180px;
    margin-right: 20px;
}

.modalDish .closeBtn,
.modalDish .card-dish-description p {
    display: block !important;
}

.rest-card-dish .closeBtn,
.rest-card-dish .card-dish-description p {
    display: none;
}

.rest-card-dish .closeBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 42px;
    line-height: 42px;
    width: 42px;
    font-size: 16px;
    text-align: center;
}

.rest-card-dish .card-dish-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.rest-card-dish .card-dish-description span {
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    font-size: 15px;
    text-align: center;
}

.rest-card-dish .card-dish-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rest-card-dish .card-dish-info {
    min-width: 85px;
}

.rest-card-dish .card-dish-info .dish-grams {
    font-size: 12px;
}

.rest-card-dish .card-dish-info .dish-price {
    font-size: 19px;
}

.rest-catalog-dish_error {
    text-align: center;
    font-size: 16px;
    color: var(--RedColor);
}

.card-dish-action {
    height: inherit;
    line-height: 30px;
    text-align: center;
    align-self: center;
}

.card-dish-action .inpPlus,
.card-dish-action .inpMinus {
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 16px;
    border: 1px solid #e2e3e0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.card-dish-action input {
    display: inline-block;
    height: inherit;
    width: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
    border: none;
    -webkit-appearance: none;
}

.card-dish-action input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
    -webkit-appearance: none;
}

.card-dish-action .addToCard {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 10px;
    font-size: 16px;
    background-color: var(--RedColor);
    border: 1px solid #e2e3e0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

@media (max-width: 335px) {
    .rest-card-dish {
        margin: 0 0 10px 0;
    }
    .rest-filter {
        margin-left: 0px;
    }
}

@media (max-width: 544px) {
    .rest {
        padding-top: 75px;
    }
    .rest-line {
        margin-bottom: 5px;
    }
    /* @media screen and (-webkit-min-device-pixel-ratio:0) {
        .rest-line {
            padding-top: 75px;
            margin-top: 0;
        }
    } */
    .rest-main-img {
        display: none;
        margin-left: 10%;
        height: 110px;
        width: 160px;
    }
    .rest-caption {
        margin: 0 auto;
    }
}

@media (min-width: 544px) and (max-width: 768px) {
    .rest {
        padding-top: 120px;
    }
    .rest-line {
        margin-bottom: 45px;
    }
    /* @media screen and (-webkit-min-device-pixel-ratio:0) {
        .rest-line {
            padding-top: 120px;
            margin-top: 0;
        }
    } */
    .rest-main-img {
        margin-left: 32px;
        margin-right: 60px;
        height: 130px;
        width: 210px;
    }
    .rest-filter {
        flex: 0 0 210px;
        max-width: 210px;
        margin-left: 32px;
    }
}

@media (max-width: 767px) {
    .rest-filter {
        margin-left: 5px;
        flex: 0 0 50px;
        max-width: 45px;
    }
    .rest-filter-container .filter-item span {
        display: none;
    }
    .rest-filter .rest-filter-container .filter-item {
        justify-content: center;
    }
    .rest-filter-container {
        padding: 0;
        display: block;
        background: white;
    }
    .modalDish {
        display: block;
        width: 90%;
        max-height: 90%;
        overflow: auto;
        padding: 20px;
        margin: 0 auto;
        flex-direction: row;
    }
    .modalDish .card-dish-img img {
        margin: 0 auto;
    }
}


/* Устройствах среднего (планшеты, 768px и выше)  */

@media (min-width: 768px) and (max-width: 991px) {
    .rest-main-img {
        height: 160px;
        width: 240px;
    }
    .rest-filter {
        flex: 0 0 240px;
        max-width: 240px;
    }
    .rest-card-dish:not(.modalDish) {
        width: 225px;
        margin: 5px;
        min-height: 275px;
    }
    .rest-card-dish .card-dish-footer {
        flex-direction: column;
    }
    .rest-card-dish .card-dish-info {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}


/* Крупных устройств (настольных компьютеров, 992px и выше)   */

@media (min-width: 992px) {}


/* Очень больших устройств (большие компьютеры, 1200px и выше)   */

@media (min-width: 1200px) and (max-width: 1220px) {
    .rest-card-dish .card-dish-action .addToCard {
        margin-left: 0px;
    }
}

@media (min-width: 1200px) {
    .rest {
        max-width: 1920px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) and (max-width: 1560px) {}
.card-dish-button-constructor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.dish-button-constructor {
    height: 40px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--RedColor);
    color: #fff;
    cursor: pointer;
    margin: 5px;
}
.dish-button-constructor>span {
    padding-right: 10px;
}
