.swal-text {
	font-size: 22px;
	color: #61534e;
	text-align: center;
}

.swal-modal {
	border-radius: 0px;
}

.swal-button {
	border-radius: 0px;
/*	background-color: var(--RedColor);*/
	background-color: #ff501c;
}

.swal-button:hover {
	background-color: #ff501c !important;
}

.swal-button:active {
	background-color: #ff5a29;
}

.swal-button:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}