.container-type-restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1200px;
    /*    height: 100px;;*/
    margin: 0 auto;
}

.type-restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 10em;
    flex: 1 10em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3%;
    cursor: pointer;
}

@-moz-document url-prefix() {
    .type-restaurant {
        padding: 20px;
    }
}

@supports (-ms-ime-align:auto) {
    .type-restaurant {
        padding: 20px;
    }
}

.type-restaurant>svg {
    height: 50px;
}

.type-restaurant:hover>svg {
    fill: #ff501c;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.type-restaurant_active>svg {
    fill: #ff501c;
}