.container-type-restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1200px;
    /*    height: 100px;;*/
    margin: 0 auto;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
}

.type-restaurant {
    display: flex;
    flex-direction: column;
    flex: 1 10%;
    justify-content: center;
    align-items: center;
    padding: 3%;
    cursor: pointer;
    -webkit-flex: 1 1 10em
}

@-moz-document url-prefix() {
    .type-restaurant {
        padding: 20px;
    }
}

@supports (-ms-ime-align:auto) {
    .type-restaurant {
        padding: 20px;
    }
}

.type-restaurant>svg {
    height: 50px;
}

.type-restaurant:hover>svg {
    fill: #ff501c;
    transition: .2s ease;
}

.type-restaurant_active>svg {
    fill: #ff501c;
}