doctype html
html(lang='ru')
	head
		title Что то пошло не так
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='shortcut icon', href='../../image/Logo/ShortcutIcon.png', type='image/png')
		link(rel='stylesheet', href='../css/404.css')
		link(href='https://fonts.googleapis.com/css?family=Noto+Sans', rel='stylesheet')
	body
		.wrapper
			.container-404
				.border-404
					span.text-404 404
					span.text-404-info Что то пошло не так ;)
				a(href='../')
					.button-main На главную
