doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Админка - авторизация
    link(rel='shortcut icon', href='../../image/Logo/ShortcutIcon.png', type='image/png')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/normalize.css')
    link(rel='stylesheet', href='../css/input.css')
    link(rel='stylesheet', href='../css/authorization-admin.css')
    link(rel='stylesheet', href='../css/style.css')
  body
    .main-container-authorization
      .container-authorization
        .container-logo-authorization
          img(src='../image/Logo/LogoTest.png')
        .container-title-authorization Авторизация
        .main-container-input-authorization
          .container-input-authorization
            span.fa.fa-user
            .group
              input#name.input-style.input-name-registration(placeholder='Логин', type='text', required='')
              span.bar
          .container-input-authorization
            span.fa.fa-lock
            .group
              input#password.input-style.input-surname-registration(placeholder='Пароль', type='password', required='')
              span.bar
        .main-container-button-authorization
          .button-admin-authorization(onclick='auth()') Войти
  script(src='../plugins/axios.min.js')
  script.
      function auth() {
      let ph = document.getElementById("name").value;
      let pwd = document.getElementById("password").value;
      axios.post('/adm', {
      phone: ph,
      password: pwd
      })
      .then(function(response) {
      window.location.href = "/adm/dashboard";
      })
      .catch(function(error) {
      console.log(error);
      });
      }