doctype html
html(lang='ru')
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='shortcut icon', href='../../image/Logo/ShortcutIcon.png', type='image/png')
		link(rel='stylesheet', href='../css/bootstrap.css')
		link(rel='stylesheet', href='../css/swal-style.css')
		link(rel='stylesheet', href='../css/normalize.css')
		link(rel='stylesheet', href='../css/hamburger-menu.css')
		link(rel='stylesheet', href='../css/modal-authorization.css')
		link(rel='stylesheet', href='../css/modal-registration.css')
		link(rel='stylesheet', href='../css/input.css')
		link(rel='stylesheet', href='../css/style.css')
		link(rel='stylesheet', href='../css/header.css')
		link(rel='stylesheet', href='../css/footer.css')
		link(rel='stylesheet', href='../css/cart-style.css')
		link(rel='stylesheet', href='../css/rest.css')
		link(rel='stylesheet', href='../css/wrapper.css')
		link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow', rel='stylesheet')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
	body
		include header.pug
		include hamburger-menu.pug
		include modal.pug
		.wrapper
			div(style='flex: 1;')
				.container-cart
					.title-cart Оформление заказа
					.main-eat-container-cart
						#main-eat-container-cart.main-eat-container-cart
							.clear-cart Ваша корзина пуста
						#container-all-price-eat-cart.container-all-price-eat-cart Общая стоимость: 0 руб.
					.main-container-data-cart
						.container-data-cart
							.container-input
								span.fa.fa-user
								.group
									input.input-style.input-login-authorization.input-name(placeholder='Имя*', type='text', required='' )
									span.bar
							.container-input
								span.fa.fa-user
								.group
									input.input-style.input-login-authorization.input-surname(placeholder='Фамилия*', type='text', required='' )
									span.bar
							.container-input
								span.fa.fa-user
								.group
									input.input-style.input-login-authorization.input-patronymic(placeholder='Отчество', type='text', required='' )
									span.bar
						.container-data-cart
							.container-input
								span.fa.fa-location-arrow
								.group
									input.input-style.input-login-authorization.input-street(placeholder='Улица*', type='text', required='' )
									span.bar
							.container-input
								span.fa.fa-home
								.group
									input.input-style.input-login-authorization.input-house(placeholder='Дом*', type='text', required='' )
									span.bar
							.container-input
								span.fa.fa-angle-right
								.group
									input.input-style.input-login-authorization.input-entrance(placeholder='Подъезд', type='text', required='' )
									span.bar
						.container-data-cart
							.container-input
								span.fa.fa-angle-right
								.group
									input.input-style.input-login-authorization.input-level(placeholder='Этаж', type='text', required='' )
									span.bar
							.container-input
								span.fa.fa-angle-right
								.group
									input.input-style.input-login-authorization.input-apartment(placeholder='Квартира*', type='text', required='' )
									span.bar
							.container-input
								span.fa.fa-mobile
								.group
									input.input-style.input-login-authorization.input-phone(placeholder='Телефон*', type='tel', required='' )
									span.bar
						.container-data-cart
							.container-input
								span.fa.fa-envelope
								.group
									input.input-style.input-login-authorization.input-email(placeholder='Email*', type='text', required='' )
									span.bar
							.container-input
								span.fa.fa-comments
								.group
									input.input-style.input-login-authorization.input-comment(placeholder='Коментарий', type='text', required='' )
									span.bar
							.container-input
								span.fa.fa-ticket
								.group
									input.input-style.input-login-authorization.input-promocode(placeholder='Промокод', type='text', required='' )
									span.bar
					.container-info-delivery *При заказе на сумму менее 20 рублей к сумме прибавляется 2 рубля за доставку
					.container-button-cart
						#button-cart-clear.button-cart Очистить корзину
						#button-cart-post.button-cart.button-cart-red Оформить
			include footer.pug
		script(src='../plugins/axios.min.js')
		script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
		script(src='../js/hamburger-menu.js')
		script(src='../js/open-modal.js')
		script(src='../js/cart-generate-block.js')
		script(src='../js/delete-dish-cart.js')
		script(src='../js/plus-and-minus-cart.js')
		script(src='../js/clear-cart.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')
		script(src='../js/ajax-cart.js')
		script(src='../js/input-cart-localstorage-check.js')