doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='../css/bootstrap.css')
		link(rel='stylesheet', href='../css/normalize.css')
		link(rel='stylesheet', href='../css/style.css')
		link(rel='stylesheet', href='../css/header.css')
		link(rel='stylesheet', href='../css/hamburger-menu.css')
		link(rel='stylesheet', href='../css/modal-authorization.css')
		link(rel='stylesheet', href='../css/modal-registration.css')
		link(rel='stylesheet', href='../css/input.css')
		link(rel='stylesheet', href='../css/footer.css')
		link(rel='stylesheet', href='../css/wrapper.css')
		link(rel='stylesheet', href='../css/constructor-style.css')
		link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow', rel='stylesheet')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
	body
		.wrapper
			.main-container-constructor
				.container-title-page
					span Конструктор блинчиков
				.container-constructor
				#{dataConstr}
					.container-constructor-section
						.container-ingredients
							.container-title
								h4 Ингридиенты
							.container-ingredients-items
								.ingredients-items
									span.plus-ingredients.fa.fa-plus-square
									img(src='image/constructor/demo.jpeg')
									span Ингредиент
									span 2,5 руб.
								.ingredients-items
									span.plus-ingredients.fa.fa-plus-square
									img(src='image/constructor/demo.jpeg')
									span Ингредиент
									span 2,5 руб.
								.ingredients-items
									span.plus-ingredients.fa.fa-plus-square
									img(src='image/constructor/demo.jpeg')
									span Ингредиент
									span 2,5 руб.
								.ingredients-items
									span.plus-ingredients.fa.fa-plus-square
									img(src='image/constructor/demo.jpeg')
									span Ингредиент
									span 2,5 руб.
								.ingredients-items
									span.plus-ingredients.fa.fa-plus-square
									img(src='image/constructor/demo.jpeg')
									span Ингредиент
									span 2,5 руб.
								.ingredients-items
									span.plus-ingredients.fa.fa-plus-square
									img(src='image/constructor/demo.jpeg')
									span Ингредиент
									span 2,5 руб.
								.ingredients-items
									span.plus-ingredients.fa.fa-plus-square
									img(src='image/constructor/demo.jpeg')
									span Ингредиент
									span 2,5 руб.
								.ingredients-items
									span.plus-ingredients.fa.fa-plus-square
									img(src='image/constructor/demo.jpeg')
									span Ингредиент
									span 2,5 руб.
								.ingredients-items
									span.plus-ingredients.fa.fa-plus-square
									img(src='image/constructor/demo.jpeg')
									span Ингредиент
									span 2,5 руб.
						.container-my-food
							.container-title
								h4 Ваш блинчик
							.container-ingredients-items
								.ingredients-items
									span.plus-ingredients.fa.fa-minus-square
									img(src='image/constructor/demo.jpeg')
									span Ингредиент
									span 2,5 руб.
								.ingredients-items
									span.plus-ingredients.fa.fa-minus-square
									img(src='image/constructor/demo.jpeg')
									span Ингредиент
									span 2,5 руб.
								.ingredients-items
									span.plus-ingredients.fa.fa-minus-square
									img(src='image/constructor/demo.jpeg')
									span Ингредиент
									span 2,5 руб.
					.container-constructor-button
						span Кол-во блинчиков:
						.card-dish-action
							.inpMinus -
							input.dishCount(type='number', step='1', min='1', max='50', name='dishCount', value='1', readonly='')
							.inpPlus +
						.button-remove-pancake Очистить
						.button-add-pancake Добавить
		script(src='../js/hamburger-menu.js')
		script(src='../js/open-modal.js')