doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='../css/bootstrap.css')
		link(rel='stylesheet', href='../css/normalize.css')
		link(rel='stylesheet', href='../css/style.css')
		link(rel='stylesheet', href='../css/header.css')
		link(rel='stylesheet', href='../css/hamburger-menu.css')
		link(rel='stylesheet', href='../css/modal-authorization.css')
		link(rel='stylesheet', href='../css/modal-registration.css')
		link(rel='stylesheet', href='../css/footer.css')
		link(rel='stylesheet', href='../css/wrapper.css')
		link(rel='stylesheet', href='../css/delivery-style.css')
		link(rel='stylesheet', href='../css/input.css')
		link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow', rel='stylesheet')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
	body
		.wrapper
			.container-fluid(style='flex: 1;')
				.row
					.container-info-delivery
						| Здесь будет ваша информация о доставке.
		script(src='../js/hamburger-menu.js')
		script(src='../js/open-modal.js')
