doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='shortcut icon', href='../../image/Logo/ShortcutIcon.png', type='image/png')
		link(rel='stylesheet', href='../css/bootstrap.css')
		link(rel='stylesheet', href='../css/normalize.css')
		link(rel='stylesheet', href='../css/style.css')
		link(rel='stylesheet', href='../css/header.css')
		link(rel='stylesheet', href='../css/hamburger-menu.css')
		link(rel='stylesheet', href='../css/modal-authorization.css')
		link(rel='stylesheet', href='../css/modal-registration.css')
		link(rel='stylesheet', href='../css/footer.css')
		link(rel='stylesheet', href='../css/wrapper.css')
		link(rel='stylesheet', href='../css/delivery-style.css')
		link(rel='stylesheet', href='../css/input.css')
		link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow', rel='stylesheet')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
	body
		include header.pug
		include hamburger-menu.pug
		include modal.pug
		.wrapper
			.div(style='flex: 1;')
				.container-info-delivery
					.title-info-delivery Информация о доставке
					.container-text-info-delivery
						p Доставка работает с 11:30 до 23:00. Пятница и Суббота с 11:00 до 01:00.
						p Доставка осуществляется по городу Солигорску.
						p По поводу достаки в ближайшие населённые пункты, уточните у администратора, по телефону 6750606 (для всех операторов).
						p Время доставки от 30 минут до 1 часа, в зависимости от загруженности курьеров.
						p Стоимость доставки составляет 2 рубля.
						p Если сумма заказа более 20 рублей, доставка осуществляется бесплатно.
						p Последний заказ принимается за 30 МИНУТ до закрытия.
			include footer.pug
		script(src='../js/hamburger-menu.js')
		script(src='../js/open-modal.js')
