html
  body
    .col-md-12.main-container-footer
      .container-footer
        .container-link-footer
          ul.menu-link-footer
            li
              a(href="../news.html") Акции
            li
              a(href="../delivery.html") Доставка
            li
              a(href="../help.html") Как заказать?
          ul.menu-link-footer
            li
              a(href="../info.html") О компании
            li
              a(href="")
            li
              a(href="")
        .container-social-footer
          .square-social.square-vk
            a.fa.fa-vk.fa-2x(href="https://vk.com/vozhyksol" target="_blank")
          .square-social.square-facebook
            a.fa.fa-facebook.fa-2x(target="_blank")
          .square-social.square-odnoklassniki
            a.fa.fa-odnoklassniki.fa-2x(href="https://ok.ru/profile/576793096418" target="_blank")
          .square-social.square-instagram
            a.fa.fa-instagram.fa-2x(href="https://www.instagram.com/vozhyk_sol/" target="_blank")
        .container-connection-button
          .report-button
            span.fa.fa-bullhorn.fa-2x
            | Возникла проблема?
      .container-footer
        .copyright
          span.fa.fa-copyright
          | 2017-2018
          img(src="../image/LogoTest.png")
          |  Вожык
