#hamburger-menu.hamburger-menu
	#hamburger-menu-close.close-hamburger-menu.fa.fa-times.fa-2x
	a(href='../')
		.hamburger-menu-item
			span.fa.fa-home
			| Главная
	a(href='../../delivery')
		.hamburger-menu-item
			span.fa.fa-truck
			| Доставка
	a(href='../../news')
		.hamburger-menu-item
			span.fa.fa-gift
			| Акции
	a(href='../../help')
		.hamburger-menu-item
			span.fa.fa-question
			| Как заказать?
