.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12.Header
  .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12.header-width
    .hidden-lg-up.hidden-md-up.col-sm-1.col-xs-1.button-menubar
      #hamburger-menu-open.hamburger-menu-open
        span.fa.fa-bars.fa-2x
    .col-xl-2.col-lg-2.col-md-2.col-sm-9.col-xs-9.Logo
      a(href='../../')
        img(src='../../image/Logo/LogoTest.png')
    .col-lg-5.col-md-5.hidden-sm-down.hidden-xs-down.Menuline
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.container-menubar
        a.menubar-item-a(href='../../')
          .menubar-item
            span.fa.fa-home.fa-2x
            | Главная
        a.menubar-item-a(href='../../delivery')
          .menubar-item
            span.fa.fa-truck.fa-2x
            | Доставка
        a.menubar-item-a(href='../../news')
          .menubar-item
            span.fa.fa-gift.fa-2x
            | Акции!
        a.menubar-item-a(href='../../help')
          .menubar-item(style='min-width: 108px;')
            span.fa.fa-question.fa-2x
            | Как заказать?
    .col-xl-3.col-lg-3.col-md-2.hidden-sm-down.hidden-xs-down.Phone
      .container-social.container-phone
        span.fa.fa-phone
        span(style='color: black;') 6750606
    .col-xl-2.col-lg-2.col-md-3.col-sm-2.col-xs-2.shoppingcart-and-user-login
      .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12.container-user
        #count-dish-circle.count-dish-circle
        #modal-authorization-open.col-md-5.input-user-button
          span.fa.fa-user.fa-2x
          | Войти
        a(style='height: 100%;', href='../../cart')
          .shopping-cart-button
            span.fa.fa-shopping-cart.fa-2x
            span#shopping-cart-price 0 руб.
script(src='../js/count-and-price-cart.js')