doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='shortcut icon', href='../../image/Logo/ShortcutIcon.png', type='image/png')
		link(rel='stylesheet', href='../css/bootstrap.css')
		link(rel='stylesheet', href='../css/normalize.css')
		link(rel='stylesheet', href='../css/style.css')
		link(rel='stylesheet', href='../css/header.css')
		link(rel='stylesheet', href='../css/hamburger-menu.css')
		link(rel='stylesheet', href='../css/modal-authorization.css')
		link(rel='stylesheet', href='../css/modal-registration.css')
		link(rel='stylesheet', href='../css/footer.css')
		link(rel='stylesheet', href='../css/wrapper.css')
		link(rel='stylesheet', href='../css/help-style.css')
		link(rel='stylesheet', href='../css/input.css')
		link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow', rel='stylesheet')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
	body
		include header.pug
		include hamburger-menu.pug
		include modal.pug
		.wrapper
			.div(style='flex: 1;')
				.container-info-help
					.title-info-help Как заказать?
					.container-content-help
						.item-content-help
							span(class="fa fa-building" aria-hidden="true")
							span 1) Выберите ресторан
						.item-content-help
							span(class="fa fa-cutlery" aria-hidden="true")
							span 2) Выберите блюда
						.item-content-help
							span(class="fa fa-shopping-basket" aria-hidden="true")
							span 3) Перейдите в корзину
						.item-content-help
							span(class="fa fa-pencil-square-o" aria-hidden="true")
							span 4) Проверьте заказ и заполните данные
						.item-content-help
							span(class="fa fa-check" aria-hidden="true")
							span 5) Нажмите кнопку "Оформить"
					.container-text-info-help
						p *Один заказ один ресторан, с нескольких ресторанов сразу заказ оформить невозможно.
			include footer.pug
		script(src='../js/hamburger-menu.js')
		script(src='../js/open-modal.js')
