doctype html
html(lang='ru')
	head
		title Юридическая информация. Вожик - доставка еды Солигорск
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='shortcut icon', href='../../image/Logo/ShortcutIcon.png', type='image/png')
		link(rel='stylesheet', href='../css/bootstrap.css')
		link(rel='stylesheet', href='../css/normalize.css')
		link(rel='stylesheet', href='../css/style.css')
		link(rel='stylesheet', href='../css/header.css')
		link(rel='stylesheet', href='../css/hamburger-menu.css')
		link(rel='stylesheet', href='../css/modal-authorization.css')
		link(rel='stylesheet', href='../css/modal-registration.css')
		link(rel='stylesheet', href='../css/footer.css')
		link(rel='stylesheet', href='../css/wrapper.css')
		link(rel='stylesheet', href='../css/legal-style.css')
		link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow', rel='stylesheet')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
	body
		include header.pug
		include hamburger-menu.pug
		include modal.pug
		.wrapper
			div(style='-webkit-box-flex: 1;-ms-flex: 1 0 auto;flex: 1 0 auto')
				.container-info-legal
					.title-info-legal Юридическая информация
					.container-text-info-legal 
						p Владельцем данного сайта является ИП Войтешик Николай Константинович.
						p Свидетельство о регистрации № 690746424 выдано Солигорским Районным Исполнительным комитетом 17 февраля 2012.
						p УНП: 690746424.
						p Р/с: BY05PJCB30131012881000000933 в ОАО «ПриорБанк» БИК: PJCBBY2X
			include footer.pug
		script(src='../js/hamburger-menu.js')
		script(src='../js/open-modal.js')
