doctype html
html(lang='ru')
	head
		title Акции! Вожик - доставка еды Солигорск
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='shortcut icon', href='../../image/Logo/ShortcutIcon.png', type='image/png')
		link(rel='stylesheet', href='../css/bootstrap.css')
		link(rel='stylesheet', href='../plugins/slider/css/swiper.css')
		link(rel='stylesheet', href='../css/normalize.css')
		link(rel='stylesheet', href='../css/hamburger-menu.css')
		link(rel='stylesheet', href='../css/modal-authorization.css')
		link(rel='stylesheet', href='../css/modal-registration.css')
		link(rel='stylesheet', href='../css/type-restaurant.css')
		link(rel='stylesheet', href='../css/input.css')
		link(rel='stylesheet', href='../css/style.css')
		link(rel='stylesheet', href='../css/header.css')
		link(rel='stylesheet', href='../css/footer.css')
		link(rel='stylesheet', href='../css/news.css')
		link(rel='stylesheet', href='../css/wrapper.css')
		link(rel='stylesheet', href='../css/input.css')
		link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow', rel='stylesheet')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
	body
		include header.pug
		include hamburger-menu.pug
		include modal.pug
		.wrapper
			.news
				.news-line
					span Акции
				.news-item.clearfix
					.news-date-time 01.03.2018
					img(src='../image/slider/slider_1.png', alt='')
					div
						h4 Скидка именинникам 10%
					div
				.news-item.clearfix
					.news-date-time 01.03.2018
					img(src='../image/slider/slider_2.png', alt='')
					div
						h4 
					div
				.news-item.clearfix
					.news-date-time 01.03.2018
					img(src='../image/slider/shashlik_slider_5.png', alt='')
					div
						h4 Скоро шашлык
					div
		include footer.pug
		script(src='../plugins/slider/js/swiper.js')
		script(src='../plugins/lazy/blazy.js')
		script(src='../js/hamburger-menu.js')
		script(src='../js/open-modal.js')
