<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../plugins/slider/css/swiper.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/hamburger-menu.css">
    <link rel="stylesheet" href="../css/modal-authorization.css">
    <link rel="stylesheet" href="../css/modal-registration.css">
    <link rel="stylesheet" href="../css/type-restaurant.css">
    <link rel="stylesheet" href="../css/input.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/news.css">
    <link rel="stylesheet" href="../css/wrapper.css">
    <link rel="stylesheet" href="../css/input.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    <div class="wrapper">       
        <div class="news">
            <div class="news-line">
                <span>Акции</span>
            </div>
            <div class="news-item clearfix">
                <div class="news-date-time">07.12.2017</div>
                <img src="../image/slider/slider_2.png" alt="">
                <div>
                    <h4>Заголовок акции</h4>
                </div>
                <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi repudiandae omnis veniam atque, velit molestias quod accusantium maxime ducimus ullam error veritatis nobis dolorum illo sit maiores quaerat exercitationem? Neque voluptates
                    hic nam rem omnis? Autem labore itaque modi amet libero atque tempora asperiores, aspernatur corporis at fugiat eius quia.</div>
            </div>
            <div class="news-item clearfix">
                <div class="news-date-time">07.12.2017</div>
                <img src="../image/slider/slider_2.png" alt="">
                <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et officia minima quod quo aliquam voluptatem ad, perferendis deserunt accusantium veritatis maiores sit perspiciatis reiciendis sunt aperiam, enim, similique vero. Ducimus ullam
                    a, consequatur ea assumenda cum voluptatem unde molestiae error eius iure neque aperiam cumque similique dolores, magni consectetur autem veniam quo in temporibus totam? Harum sunt veniam, recusandae doloribus possimus voluptatibus
                    nisi eligendi minus voluptas praesentium corporis animi quos quisquam magni debitis vitae libero earum esse expedita beatae tempora, in ea labore? Sit eum molestiae a, id dolorem labore nesciunt iste tenetur rem, natus sunt obcaecati
                    delectus ab porro!</div>
            </div>
            <div class="news-item clearfix">
                <div class="news-date-time">07.12.2017</div>
                <img src="../image/slider/slider_2.png" alt="">
                <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi repudiandae omnis veniam atque, velit molestias quod accusantium maxime ducimus ullam error veritatis nobis dolorum illo sit maiores quaerat exercitationem? Neque voluptates
                    hic nam rem omnis? Autem labore itaque modi amet libero atque tempora asperiores, aspernatur corporis at fugiat eius quia.</div>
            </div>
        </div>
    </div>
    <script src="../plugins/slider/js/swiper.js"></script>
    <script src="../plugins/lazy/blazy.js"></script>
    <script src="../js/hamburger-menu.js"></script>
    <script src="../js/open-modal.js"></script>
</body>