doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='../css/bootstrap.css')
		link(rel='stylesheet', href='../plugins/slider/css/swiper.css')
		link(rel='stylesheet', href='../css/normalize.css')
		link(rel='stylesheet', href='../css/hamburger-menu.css')
		link(rel='stylesheet', href='../css/modal-authorization.css')
		link(rel='stylesheet', href='../css/modal-registration.css')
		link(rel='stylesheet', href='../css/type-restaurant.css')
		link(rel='stylesheet', href='../css/input.css')
		link(rel='stylesheet', href='../css/style.css')
		link(rel='stylesheet', href='../css/header.css')
		link(rel='stylesheet', href='../css/footer.css')
		link(rel='stylesheet', href='../css/news.css')
		link(rel='stylesheet', href='../css/wrapper.css')
		link(rel='stylesheet', href='../css/input.css')
		link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow', rel='stylesheet')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
	body
		include header.pug
		include hamburger-menu.pug
		include modal.pug
		.wrapper
			.news
				.news-line
					span Акции
				.news-item.clearfix
					.news-date-time 07.12.2017
					img(src='../image/slider/slider_2.png', alt='')
					div
						h4 Заголовок акции
					div
						| Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi repudiandae omnis veniam atque, velit molestias quod accusantium maxime ducimus ullam error veritatis nobis dolorum illo sit maiores quaerat exercitationem? Neque voluptateshic nam rem omnis? Autem labore itaque modi amet libero atque tempora asperiores, aspernatur corporis at fugiat eius quia.
				.news-item.clearfix
					.news-date-time 07.12.2017
					img(src='../image/slider/slider_2.png', alt='')
					div
						| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et officia minima quod quo aliquam voluptatem ad, perferendis deserunt accusantium veritatis maiores sit perspiciatis reiciendis sunt aperiam, enim, similique vero. Ducimus ullam a, consequatur ea assumenda cum voluptatem unde molestiae error eius iure neque aperiam cumque similique dolores, magni consectetur autem veniam quo in temporibus totam? Harum sunt veniam, recusandae doloribus possimus voluptatibusnisi eligendi minus voluptas praesentium corporis animi quos quisquam magni debitis vitae libero earum esse expedita beatae tempora, in ea labore? Sit eum molestiae a, id dolorem labore nesciunt iste tenetur rem, natus sunt obcaecatidelectus ab porro!
				.news-item.clearfix
					.news-date-time 07.12.2017
					img(src='../image/slider/slider_2.png', alt='')
					div
						| Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi repudiandae omnis veniam atque, velit molestias quod accusantium maxime ducimus ullam error veritatis nobis dolorum illo sit maiores quaerat exercitationem? Neque voluptates
						| hic nam rem omnis? Autem labore itaque modi amet libero atque tempora asperiores, aspernatur corporis at fugiat eius quia.
		include footer.pug
		script(src='../plugins/slider/js/swiper.js')
		script(src='../plugins/lazy/blazy.js')
		script(src='../js/hamburger-menu.js')
		script(src='../js/open-modal.js')
